.game_card {
  width: 100%;
}

.game_card_items {
  position: relative;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  font-weight: bold;

  width: 90%;

  border: 1px solid #2f9c2f94;
  border-radius: 1px;
  transition: all 1s;
}

.game_number {
  font-size: 30px;
  margin-top: 50px;
}

.gold {
  color: gold;
  font-size: 50px;
}

.silver {
  color: silver;
  font-size: 45px;
}

.bronze {
  color: #cd7f32;
  font-size: 40px;
}

.common {
  color: #b4b2b2;
}

.game_card_items > h2 {
  text-align: center;
}

.game_card_items > p {
  margin-top: 10px;
}

.game_img {
  margin-top: 10px;
  width: 400px;
  height: 200px;
  position: relative;

  transition: all 1s;
}

.game_card_items:hover {
  background-color: #2f9c2f94;
  color: #fff;
  transform: scale(1.1);
}

.game_card_items:hover > .game_img {
  box-shadow: 0 0 10px rgba(87, 255, 9, 0.5);
}

.game_card_extra {
  z-index: 100;
  position: absolute;
  /* display: none; */

  /* left: 73vw; */
  /* bottom: 400px; */
  /* margin-top: -345px; */
  margin-left: 10px;

  width: 455px;
  height: 200px;
  /* border: 1px solid #2f8c9c00; */
  background-color: #05080600;
  text-align: left;

  transition: all 1s;
}

.game_card_extra > * {
  transition: all 0.5s;
  display: none;
  color: #00000000;

  margin: 25px;
  font-size: 18px;
  text-align: left;
}

.game_card > .game_card_items:hover ~ .game_card_extra {
  /* display: flex; */
  border: 1px solid #2f8c9c94;
  background-color: #050806;
}

.game_card > .game_card_items:hover ~ .game_card_extra > * {
  color: #fff;
  display: block;
}

/* @media screen and (max-width: 600px) {
  .game_card_items {
    font-size: 12px;
  }
} */

@media screen and (max-width: 800px) {
  .game_number {
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .game_card {
    margin-top: 120px;
  }

  .game_card_items {
    justify-content: center;
  }

  .game_card_items > h2 {
    font-size: 20px;
  }

  .game_card_items > p {
    font-size: 16px;
  }

  .game_img {
    width: 170px;
    height: 100px;
  }

  .game_card_extra {
    width: 70vw;
    height: fit-content;
    justify-self: center;
    /* margin-left: 25px; */
  }

  .game_card_extra > p {
    font-size: 14px;
  }

  .game_card_extra > * {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .game_card {
    width: 80vw;
  }
  .game_number {
    font-size: 20px;
    margin-left: 80px;
  }
}
