* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;

  /* background-color: #252525; */
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../resources/background.gif');
  background-size: contain;

  width: 98.5vw;
  height: fit-content;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 20%;
  text-align: center;

  width: 60vw;
  height: fit-content;
  background-color: #050806;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(69, 170, 22, 0.5);
}

.ranking {
  display: relative;
  margin-top: 200px;
  flex-direction: column;
  list-style: none;
  /* justify-content: center; */
  /* align-items: center; */
}

.titulo {
  position: absolute;
  top: 20px;
  text-shadow: #5b8a2f7a 0 0 15px;
  /* left: 40vw; */
}

.top {
  position: absolute;

  top: 160px;
  font-size: 20px;
}

#logo {
  width: 30px;
  height: 30px;

  position: relative;
  left: 130px;
  top: -30px;
}

@media screen and (max-width: 680px) {
  .container {
    width: 100vw;
    margin-left: 0;
  }

  .fuente {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .ranking {
    margin-top: 280px;
  }

  .top {
    top: 280px;
  }

  #logo {
    left: 0;
    top: 15px;

    width: 80px;
    height: 80px;
  }
}
